<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>ERROR:</h1> <h2>User not found!</h2>
    <%- include('includes/footer')%>
</body>
</html>